.filter-sec {
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 10px;
}

.filter-item {
  border: 1px solid green;
  border-radius: 20px;
  color: green;
  padding: 5px;
  vertical-align: middle;
}

.filter-item img {
  margin: 0 2px;
}
