.movie-div {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.thumbnail-sec {
  background-image: url(https://cdn.jsdelivr.net/gh/AvishkarDalvi/trailers_page@main/public/no-image.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  background-color: #444;
}
