ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 20px;
  position: relative;
}

li {
  flex: 0 200px;
  height: 300px;
  transition: 0.3s all ease;
  /* Grid Witdth */
}

.show-trailer {
  display: block;
  height: 700px;
}

.trailer-sec {
  display: none;
  position: absolute;
  left: 0;
  margin-top: 20px;
  width: 100%;
  height: 0;
  transition: 0.3s all ease;
}

.show-trailer .trailer-sec {
  display: block;
  height: calc(700px - 300px - 20px);
  /* Calc =Full height - thumbnail size - margin/gap */
}
